{% extends 'base.html' %} {% block bodymain%}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicación</th>
      </tr>
    </thead>
    <tbody>
      {% for activo in activos %}
      <tr>
        <td>{{ activo.codigo }}</td>
        <td>{{ activo.nombre }}</td>
        <td>{{ activo.ubicacion }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% endblock bodymain%}
