{% extends 'base.html' %}
{% load static %}
{% block bodymain %}
    <div class="container">
        <p>
        <div class="form-outline mb-4">
            <input type="number" class="form-control" id="datatable-search-input-codigo"/>
            <label class="form-label" for="datatable-search-input-codigo">Buscar por código</label>
        </div>
        </p>
        <p>
        <div class="form-outline mb-4">
            <input type="text" class="form-control" id="datatable-search-input-ubicacion"/>
            <label class="form-label" for="datatable-search-input-ubicacion">Buscar por ubicación</label>
        </div>
        </p>
        <p>
        <div class="form-outline mb-4">
            <input type="text" class="form-control" id="datatable-search-input-nombre"/>
            <label class="form-label" for="datatable-search-input-nombre">Buscar por nombre</label>
        </div>
        </p>
        <p>
        <div class="form-outline mb-4">
            <input type="text" class="form-control" id="datatable-search-input-descripcion"/>
            <label class="form-label" for="datatable-search-input-descripcion">Buscar por descripcion</label>
        </div>
        </p>
        <table
                id="table"
                class="table"
                data-filter-control="true"
                data-show-search-clear-button="true"
        >
            <thead>
            <tr>
                <th data-field="codigo" data-filter-control="input">Código</th>
                <th data-field="nombre" data-filter-control="input">Nombre</th>
                <th data-field="ubicacion" data-filter-control="input">Ubicación</th>
                <th data-field="descripcion" data-filter-control="input">Descripción</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% for activo in activos %}
                <tr>
                    <td>{{ activo.codigo }}</td>
                    <td>{{ activo.nombre }}</td>
                    <td>{{ activo.ubicacion }}</td>
                    <td>{{ activo.descripcion }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#photosModal">
                            <i class="fa-regular fa-image"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/modalFotografias.html' %}
{% endblock bodymain %}
{% block extrascripts %}
    <script>
        function fillTable() {
            var table_body = $('#table_body');
            document.getElementById("datatable-search-input-ubicacion").addEventListener("keyup", function (e) {
                var search_input = $("#datatable-search-input-ubicacion").val();
                table_body.empty();
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_activo_ubicacion_list_api_view" %}',
                    data: {'ubicacion': search_input},
                    success: function (data) {
                        for (let i = 0; i < data.length; i++) {
                            table_body.append("<tr>" +
                                "<td>" + data[i]['codigo'] + "</td>" +
                                "<td>" + data[i]['nombre'] + "</td>" +
                                "<td>" + data[i]['ubicacion'] + "</td>" +
                                "<td>" + data[i]['descripcion'] + "</td>" +
                                '<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photosModal"><i class="fa-regular fa-image"></i></button></td>' +
                                "</tr>")
                        }
                    }
                })
            });
            document.getElementById("datatable-search-input-nombre").addEventListener("keyup", function (e) {
                var search_input = $("#datatable-search-input-nombre").val();
                table_body.empty();
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_activo_nombre_list_api_view" %}',
                    data: {'nombre': search_input},
                    success: function (data) {
                        for (let i = 0; i < data.length; i++) {
                            table_body.append("<tr>" +
                                "<td>" + data[i]['codigo'] + "</td>" +
                                "<td>" + data[i]['nombre'] + "</td>" +
                                "<td>" + data[i]['ubicacion'] + "</td>" +
                                "<td>" + data[i]['descripcion'] + "</td>" +
                                '<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photosModal"><i class="fa-regular fa-image"></i></button></td>' +
                                "</tr>")
                        }
                    }
                })
            });
            document.getElementById("datatable-search-input-codigo").addEventListener("keyup", function (e) {
                var search_input = $("#datatable-search-input-codigo").val();
                table_body.empty();
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_activo_codigo_list_api_view" %}',
                    data: {'codigo': search_input},
                    success: function (data) {
                        for (let i = 0; i < data.length; i++) {
                            table_body.append("<tr>" +
                                "<td>" + data[i]['codigo'] + "</td>" +
                                "<td>" + data[i]['nombre'] + "</td>" +
                                "<td>" + data[i]['ubicacion'] + "</td>" +
                                "<td>" + data[i]['descripcion'] + "</td>" +
                                '<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photosModal"><i class="fa-regular fa-image"></i></button></td>' +
                                "</tr>")
                        }
                    }
                })
            });
            document.getElementById("datatable-search-input-descripcion").addEventListener("keyup", function (e) {
                var search_input = $("#datatable-search-input-descripcion").val();
                table_body.empty();
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_activo_descripcion_list_api_view" %}',
                    data: {'descripcion': search_input},
                    success: function (data) {
                        for (let i = 0; i < data.length; i++) {
                            table_body.append("<tr>" +
                                "<td>" + data[i]['codigo'] + "</td>" +
                                "<td>" + data[i]['nombre'] + "</td>" +
                                "<td>" + data[i]['ubicacion'] + "</td>" +
                                "<td>" + data[i]['descripcion'] + "</td>" +
                                '<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photosModal"><i class="fa-regular fa-image"></i></button></td>' +
                                "</tr>")
                        }
                    }
                })
            });
        }

        fillTable();
    </script>
{% endblock extrascripts %}