{% extends 'base.html' %}

{% block bodymain%}
<div class="container">
  <div class="form-outline mb-4">
  <input type="text" class="form-control" id="datatable-search-input" />
  <label class="form-label" for="datatable-search-input">Search</label>
</div>
  <table
    id="datatable"
    class="datatable"
    data-filter-control="true"
    data-show-search-clear-button="true">
    <thead>
      <tr>
        <th data-field="codigo">Código</th>
        <th data-field="nombre" data-filter-control="input">Nombre</th>
        <th data-field="ubicacion" data-filter-control="select">Ubicación</th>
      </tr>
    </thead>
    <tbody>
      {% for activo in activos %}
      <tr>
        <td>{{ activo.codigo }}</td>
        <td>{{ activo.nombre }}</td>
        <td>{{ activo.ubicacion }}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% endblock bodymain%}
{% block scripts %}
<script>
  const instance = new mdb.Datatable(document.getElementById('datatable'), data)

  document.getElementById('datatable-search-input').addEventListener('input', (e) => {
  instance.search(e.target.value);
});
</script>
{% endblock scripts %}